
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
body{
    background-color: rgb(226, 226, 255);
    overflow: hidden;
}
ul{
    list-style-type: none;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container{
    text-align: center;
}
.con-nav{
    width: 100%;
}
.menu-icons{
    color: rgb(203, 30, 30);
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    height: 8rem;
    border-bottom: 1px solid rgba(red, green, blue, 0.1);
}

.logo{
    width: 5rem;
    height: 5rem;
    background-color: #eb3007;
    display: flex;
    border-radius: 100%;
    margin-right: 5rem;
}

.logo i{
    margin: auto;
    font-size: 3rem;
    color: #eee;
}

.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
   
}
.nav-listt{
    display: flex;
    width: 30%;
    align-items: center;
  
}
.nav-list li{
   
    position: relative;
}

.sub-menu li{
    line-height: 4rem;
}


.nav-listt a{
    display: block;
    color: black;
    padding: 0 1.5rem;
    font-size: 1rem;
    align-items: flex-end;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a{
    display: block;
    color: black;
    padding: 0 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover{
    color: #eb3007;
}

.btn{
    padding: 1.3rem;
    display: inline-block;
    background-color: #eb3007;
    border: 2px solid #eb3007;
    border-radius: 5rem;
    transition: background-color 650ms;
}
.btn:hover{
    color: #eb3007;
    background-color: rgba(0, 0, 0, .2);
}
.sub-menu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #eb3007;
    background-color: #ece6e6;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;

    
}
.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color:#eb3007 ;
}

.sub-menu .sub-menu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #eb3007;
}

.sub-menu .sub-menu{
    border-top: none;
    border-left: 3px solid #eb3007;
    top: 0;
    left: 160%;
}



.nav-list li:hover > .sub-menu{
    top: 3rem;
    opacity: 1;
    visibility: visible;
}
.sub-menu li:hover > .sub-menu{
    top: 0;
    left: 100%;
  
}
li.move-right{
    margin: auto 0 auto auto;
    line-height: inherit;
}

.header-right1{
    float: right;
}



@media screen and (max-width:850px) {
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: #ffffff;
        z-index: 1000;
    }
    .nav-listt{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: #ffffff;
        z-index: 1000;
    }

    .nav-list > li{
        line-height: 6rem;
    }
    .sub-menu{
        position: initial;
        border-left-color:#eb3007 ;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before{
        display: none;
    }

    .nav-list li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    .move-right{
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons{
        display: block;
    }
    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close{
        display: block;
    }
    nav.active .ion-md-menu{
        display: none;
    }
    nav.active .nav-list{
        display: block;
    }

    nav.active .search{
        display: block;
    }



 
}

.header-right1 .form-box {
    position: relative
}

.header-right1 .form-box input {
    background: none;
    padding: 0;
    width: 260px;
    height: 42px;
    border: 0;
    border-bottom: 1px solid #c2b6bb;
    color: #010a44
}

.f-right .search-icon{
    margin-right: 100px;
}







