<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/login_regis.css">
</head>

<body>

    <div class="split-screen">
        <div class="left " id="left" >
            <section class="copy copy-lefe">
                <h1>Nævis Furniture</h1>
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </section>
        </div>
        <div class="right" id="right">
            <form action="" >
                <section class="copy">
                    <h1>Register</h1>
                    <div class="login-container">
                        <p>Create your account.</p>
                        
                    </div>
                </section>

                <div class="con">
                    <div class="container-left">
                        <div class="input-container name">
                            <label for="fname"></label>
                            <input id="fname" name="fname" type="text" placeholder="First Name" required>
                        </div>
                                      
                        </div>

                        <div class="container-right">

                            <div class="input-container name">
                                <label for="fname"></label>
                                <input id="fname" name="fname" type="text" placeholder="Last Name" required>
                            </div>
                           
                        </div>
                    </div>
                    <div class="input-container email">
                        <label for="email"></label>
                        <input id="email" name="email" type="text"placeholder="E-mail Address" required>
                    </div>


                    <div class="input-container pass">
                        <label for="pass"></label>
                        <input id="password" name="password" type="password"placeholder="Password" required>
                    </div>

                    <div class="input-container pass">
                        <label for="pass"></label>
                        <input id="password" name="password" type="password"placeholder="Confirm Password" required>
                    </div>


                    <div class="input-container cta">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Sing up for email updates.
                        </label>
                    </div>
                
                <button class="signup-btn regis-btn" type="submit">
                    Submit
                </button>
                <br>
                <section class="copy legal">
                    <a href="../page/login.html"><strong>Log In</strong></a>
                </section>
            </form>
        </div>
    </div>

</body>

</html>